<div class="form-padding center-box d-flex justify-content-center flex-column align-items-center">
  <h2 class="devise-h1">Edit Profile</h2> <!--<%= resource_name.to_s.humanize %>-->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field devise-field form-group">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="devise-field">
      <%= f.label :password, "New Password" %> <i>(blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field devise-field">
      <%= f.label :password_confirmation, "Confirm New Password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field devise-field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary update-button" %>
    </div>
  <% end %>

  <hr>

  <div class="spaced-content header-top">
    <h2>Unhappy?</h2>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>
