<h1>THE INDEX PAGE</h1>

<%= link_to "Add an application", new_job_app_path %>

<table>
	<tr>
		<th>Company</th>
		<th>Application status</th>
		<th>Link to application</th>
		<th>Notes</th>
	</tr>

	<% @job_apps.each do |job_app| %>
		<tr>
			<td><%= job_app.company %></td>
			<td><%= job_app.status %></td>
			<td><%= job_app.url %></td>
			<td><%= job_app.notes %></td>
			<td><%= link_to "Edit", edit_job_app_path(job_app), class: "btn btn-primary" %></td>
		</tr>
	<% end %>

</table>
