<div class="index-page-box">
	<%= link_to 'Add Application', edit_job_path, {class: "add-app-button", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>

	<div class="index-table-header">
		<h2>
			Job Applications
		</h2>
		<div class="color-bar">
		</div>
	</div>

	<div class="job-apps-box">
		<% @job_apps.each do |job_app| %>
			<%= link_to job_app_path(job_app), class: "index-table-row" do %>
				<div class="company-name"><%= job_app.company %></div>
				<div class="position-name"><%= job_app.position_name %></div>
				<div class="job-app-status"><%= job_app.status %></div>
				<div class="submit-date"><%= job_app.submit_date %></div>
			<% end %>
		<% end %>
	</div>
	<div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

</div>
