<div class="center-box d-flex justify-content-center flex-column align-items-center">
	<h1 class="devise-h1">Reset Password</h1>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="field devise-field form-group">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	  </div>

	  <div class="actions d-flex justify-content-center devise-button align-items-center">
	    <%= f.submit "Send Email" %>
	  </div>
	<% end %>

	<%= link_to "Remembered it?", new_user_session_path, class: "text-under-button" %>
</div>
